#board {
  width: 800px;
  height: 800px;
  display: flex;
  flex-direction: column;
  border: 2px solid black;
}

.row {
  display: flex;
  flex-direction: row;
}

.square {
  width: 100px;
  height: 100px;
}

.white {
  background-color: white;
}

.black {
  background-color: black;
}
